body{
    margin: 20px;
    padding: 40;
    border: 0px;
}

span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
  }
  .rowa{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}


h2{
    text-align: center;
    font-size: larger;
    color: rgb(111, 109, 107);
    background-color: black;
}
h3{
    text-align: center;
background-color: black;
color: rgb(174, 169, 167);
    
}
p{
    white-space: 50px;
    font-size: larger;
}

